button {
    background-color: #FF7B9C;
    border-radius: 5px;
    border-style: solid;
    border-color: #FF7B9C;

    font-family: monospace;
    color: #607196;
}

h1 {
    color: #FFC759;
    font-family: monospace;
    font-size: 60;
}

.b1 {
    font-size: 20;
}

body {
    background-color: #607196;
}

.centred-div {
    text-align: center;
    padding-top: 20%;
}